.campusListContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;

    box-sizing: border-box;
    position: relative;

}

@media (min-width: 960px) {
    .campusListContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}