.dashboardOption {
    background-color: var(--primary-normal);
    display: inline-block;
    width: 280px;
    height: 120px;
    padding: 8px;
    border-radius: 8px;
    box-shadow: var(--shadow-1);
    cursor: pointer;
    transition: filter .5s ease;
    opacity: 0;
}

@media(max-width: 960px) {
    .dashboardOption {
        width: 100%;
    }
}

.dashboardOption:hover {
    filter: brightness(0.8);
    transition: filter .5s ease;

}

.dashboardOption>span {
    color: var(--white-normal);
    font-size: 24px;
    font-weight: 700;

}

.optionTitleWrapper {
    display: flex;
    font-size: 16px;
    align-items: flex-start;
    justify-content: space-between;
    gap: 8px;
}

.optionButton {
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
}

.optionButton>img {
    width: 22px;
    height: 22px;

}

.optionTitle {
    color: var(--white-normal);
    line-height: 24px;
}