.dashboardOption {
    background-color: var(--primary-normal);
    display: inline-block;
    padding: 4px 8px;
    border-radius: 8px;
    box-shadow: var(--shadow-1);
    cursor: pointer;
    transition: background-color .5s ease;
    opacity: 0;
}

.dashboardOption:hover {
    background-color: var(--primary-dark);
    transition: background-color .5s ease;

}

.dashboardOption>span {
    color: var(--white-normal);
    font-size: 24px;
    font-weight: 700;

}

.optionTitleWrapper {
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.optionButton {
    background-color: var(--white-normal);
    border: none;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
}

.optionTitle {
    color: var(--white-normal);

}