 .primary,
 .secondary {
     border-radius: var(--br-1);
     padding: 10px 16px;
     font-size: 16px;
     line-height: 24px;
     font-family: var(--font);
     font-weight: 700;
     border: none;
     cursor: pointer;
     box-shadow: var(--shadow-1);
     transition: background-color 0.3s ease;
 }

 .primary {
     color: var(--white-normal);
     background-color: var(--primary-normal);
 }

 .secondary {
     background-color: var(--white-light);
     color: var(--primary-normal);
     border: 2px solid var(--primary-normal);
 }

 .primary:hover {
     background-color: var(--primary-dark);
     transition: background-color 0.3s ease;
 }


 .secondary:hover {
     background-color: var(--primary-dark-2);
     color: var(--white-normal);
     transition: background-color 0.3s ease;
 }

 .fullWidth {
     width: 100%;
 }