.campusCard {
    width: 100%;
    background-color: var(--white-light);
    list-style: none;
    display: flex;
    flex-direction: column;

    padding: 8px;
    border-radius: var(--br-1);
    box-shadow: var(--shadow-1);
}

.imgCampus {
    width: 100%;
    aspect-ratio: 3 / 1;
    background-color: rgb(77, 75, 75);
    border-radius: var(--br-1);
    flex-shrink: 0;
}

.dataCampusWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
    margin-bottom: 12px;
}

.campusCardTitle {
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;

}

.addressCampus {
    font-size: 14px;
    font-weight: 500;
    color: var(--gray-3);

}

.campusCardButton {
    background-color: var(--primary-normal);
    border-radius: var(--br-1);
    width: 100%;
    padding: 12px 0;
    font-family: var(--font);
    color: var(--white-light);
    font-weight: 700;
    border: none;
    box-shadow: var(--shadow-1);
    cursor: pointer;
}

.cityCampus {
    font-size: 16px;
    font-weight: 700;
    color: var(--black-normal);
}

.addressCampus {
    font-size: 14px;
    font-weight: 600;
    color: var(--gray-5);
}