.registerObjectFormContainer {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.registerObjectFormContainer {
    gap: 8px;
}

.dataContainer {
    flex-grow: 1;
}

.uploadContainer {
    flex-grow: 1;
}

@media(max-width: 960px) {
    .registerObjectFormContainer {
        flex-direction: column;
    }

    .dataContainer {
        order: 2;
    }

    .uploadContainer {
        order: 1;
    }
}