.introAnimation {
    animation: intro-animation 0.2s ease forwards;
}

.toTopAnimation {
    animation: toTop-animation 1s .3s ease-out forwards;
}

.toBottomAnimation {
    animation: toBottom-animation .3s ease-out forwards;
}

.scaleAnimation {
    opacity: 0;
    animation: scale-animation .2s ease-in forwards;
}

.opacityAnimation {
    opacity: 0;
    animation: opacity-animation .3s ease-in forwards;
}




@keyframes intro-animation {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes toTop-animation {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scale-animation {
    0% {
        opacity: 0;
        scale: .4;
    }

    100% {
        opacity: 1;
        scale: 1;
    }
}

@keyframes opacity-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes sumir {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.5);
        display: none;
        /* Garante que o elemento não ocupe espaço */
    }
}

@keyframes toBottom-animation {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Classe de saída */
.saida {
    animation: sumir 0.5s ease-out forwards;
}