:root {
    /*Cor Primária*/
    --primary-light: #33D85E;
    --primary-normal: #0CBD3D;
    --primary-dark: #00A12C;

    --primary-dark-2: #024915;

    /*Cores Base*/
    --white-light: #F7FFF9;
    --white-normal: #EDFAF1;
    --white-dark: #ECF8EF;

    --black-light: #4C5C4F;
    --black-normal: #1F3022;
    --black-dark: #16271A;

    --gray-1: #DBECDF;
    --gray-2: #B6C4B9;
    --gray-3: #A3B0A5;
    --gray-4: #919C92;
    --gray-5: #7E887F;
    --gray-6: #6B746C;

    /*Cores Auxiliares*/
    --red-normal: #AC0001;
    --red-dark: #CA0C0E;
    --red-ligth: #E43333;

    --green-normal: #32D957;
    --green-dark: #28BB49;
    --green-light: #50E170;

    --yellow-normal: #FFCE52;
    --yellow-dark: #D9B043;
    --yellow-light: #FFD76B;

    /*Gradientes*/
    --gradient-1: linear-gradient(90deg, #0CBD3D 0%, #1E6E29 100%);
    --gradient-2: linear-gradient(90deg, #0CBD3D 0%, #6adb79 100%);

    /*SOmbreamentos*/
    --shadow-1: 0px 4px 15px rgba(33, 214, 81, 0.103);
}