.authPanelContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-image: url("../../assets/images/bg-card-1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 2fr;
    aspect-ratio: 14/18;

    border-radius: var(--br-1);


    animation: show-images 20s linear alternate infinite;
    transition: background-image 2s ease;
}

@media (max-width: 960px) {
    .authPanelContainer {
        display: none;
    }
}


@keyframes show-images {
    0% {
        background-image: url("../../assets/images/bg-card-1.png");
    }

    45% {
        background-image: url("../../assets/images/bg-card-1.png");
    }

    50% {
        background-image: url("../../assets/images/bg-card-2.png");
    }

    75% {
        background-image: url("../../assets/images/bg-card-2.png");

    }

    80% {
        background-image: url("../../assets/images/bg-card-3.png");
    }

    100% {
        background-image: url("../../assets/images/bg-card-3.png");
    }
}