.signInContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 124px;
}

/* .signInContainer>div {
    width: 420px;
} */

@media (max-width: 960px) {
    .signInContainer {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0px;
        justify-items: center;
    }
}