.registerFormContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.wrapperButtonRegister {
    display: flex;
    gap: 8px;

}

.wrapperButtonRegister>a,
.wrapperButtonRegister>button {
    flex-grow: 1;
    position: relative;
    box-sizing: border-box;
}

.wrapperButtonRegister>a>button {
    width: 100%;
}

.inputContainerRegister {
    display: flex;
    flex-direction: column;
    gap: 16px;
}