.registerFormContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.wrapperButtonRegister {
    display: flex;
    gap: 8px;

}

.wrapperButtonRegister>a {
    flex-grow: 1;
    position: relative;
}

.wrapperButtonRegister>a>button {
    width: 100%;
}