.loginForm {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    gap: 16px;
    width: 100%;
}

.inputContainer {
    display: flex;
    flex-direction: column;

}