.formSectionHeaderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.formSectionHeaderContainer>p {
    text-align: center;
}

.formHeaderError {
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 16px;
    color: red;
}

.formHeaderTitle {
    font-size: 32px;
    line-height: 32pt;
    font-weight: 900;
    margin-bottom: 8px;
}



.formHeaderParagraph {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    padding: 30px 0px;
    color: var(--black-normal);
}

.logotype {
    display: none;
}

@media (min-width: 960px) {
    .formSectionHeaderContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }

    .logotype {
        width: 249px;
        height: auto;
        display: inline-block;
    }

    .formSectionHeaderContainer>p {
        text-align: left;
    }

    .formHeaderParagraph {
        font-size: 32px;
        padding: 20px 0px;
        font-weight: 700;
        line-height: 42px;

    }


    .formHeaderError {
        font-size: 16px;
        font-weight: 800;
        margin-bottom: 16px;
        color: red;
    }

    .formHeaderTitle {
        font-size: 32px;
        line-height: 32pt;
        font-weight: 900;
        margin-bottom: 8px;
    }


}