.formSectionHeaderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.formSectionHeaderContainer>p {
    text-align: center;
}

.formHeaderError {
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 16px;
    color: red;
}

.formHeaderTitle {
    font-size: 32px;
    line-height: 32pt;
    font-weight: 900;
    margin-bottom: 8px;
}

.formHeaderParagraph {
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: 500;
    line-height: 18pt;
    color: var(--gray-2);
}